In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import requests

In [7]:
url = 'https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv'

    dados_raw = response.content

IndentationError: unexpected indent (2706734282.py, line 3)

In [9]:
df_flowers = pd.read_csv(url,sep=',')
df_flowers.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [27]:
## removendo variedade
df = df_flowers.iloc[:,:4]
df.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

## Trabalhando com Amplitude Total

# Diferença entra o maior e o menor valor observado

In [30]:
df_max = df.max();
df_min = df.min();
amp_total = df_max  - df_min
print(amp_total)

sepal.length    3.6
sepal.width     2.4
petal.length    5.9
petal.width     2.4
dtype: float64

## Amplitude interqualitica
# diferença entre o terceiro quartil e o primero quartil
# Q3 - Q1

In [33]:
Q3 = df.quantile(0.75)
Q1 = df.quantile(0.25)

amp_quartil = Q3  - Q1
print(amp_quartil)

sepal.length    1.3
sepal.width     0.5
petal.length    3.5
petal.width     1.5
dtype: float64

## DESVIO PADRAO E VARIANÇA

In [35]:
print("Desvio Padrão: ", df.std())
print("\n")
print("Variancia: ", df.var())

Desvio Padrão:  sepal.length    0.828066
sepal.width     0.435866
petal.length    1.765298
petal.width     0.762238
dtype: float64


Variancia:  sepal.length    0.685694
sepal.width     0.189979
petal.length    3.116278
petal.width     0.581006
dtype: float64

## Desvio Médio

In [37]:
import numpy as np
## desvi médio
df.mad()

AttributeError: 'DataFrame' object has no attribute 'mad'